<div class="hero-unit">
	<h1>Welcome to Cisco's One Month Rails App</h1>
	<p>
		You've found the home page for my
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
		application. Check it out!
	</p>
	<p>
		<%= link_to "Click for Dopeness!", new_user_registration_path, class: "btn btn-primary btn btn-large" %>
	</p>
</div>